:root {
  --mostly-white: #F9FAFB;
  --mostly-black: #111827;
  --dark-gray: #374151;
  --purple: #5B21B6;
  --indigo: #3730A3;
  --blue:  #1E40AF;
  --green: #065F46;
  --red: #991B1B;
  --light-blue: #93C5FD;
}
