:root {
  --sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --serif: Merriweather, Georgia, "Times New Roman", Times, serif;
}

html,
body {
  font-size: 18px;
  font-family: var(--sans-serif);
  background-color: var(--mostly-black);
  min-height: (100vh);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: var(--serif);
  font-weight: 500;
}

a {
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.project p:nth-of-type(2) {
  font-size: 1.2rem;
  color: var(--mostly-white);
}

.project p:nth-of-type(3) {
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
}

.project {
  padding: 36px;
  color: white;
}

.black {
  background-color: var(--mostly-black);
}

.purple {
  background-color: var(--purple);
}

.indigo {
  background-color: var(--indigo);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}
