<!doctype html>
<html lang="{{ metadata.language or "en" }}">
  <head>
    {% include "partials/metadata.njk" %}
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/colors.css" %}
      {% include "css/layout.css" %}
      {% include "css/header.css" %}
      {% include "css/menu.css" %}
      {% include "css/footer.css" %}
      {% include "css/styles.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}</style>
  </head>
  <body>
    <header class="site-header">
      <div class="header-inner">
        {% block siteHeader %}
          <a href="/"><h1>{{ header or site.header}}
            <br><span class="sub-header">{{ subHeader or site.subHeader }}</span>
          </h1></a>
        {% endblock %}
        {% include "partials/navigation.njk" %}
      </div>
    </header>
    <main>
      {% block main %}
        <div class="wrapper">
          {{ content | safe }}
        </div>
      {% endblock %}
    </main>
    <footer class="site-footer">
      {% include "partials/social.njk" %}
      <p>Crafted with
        <a href="https://www.11ty.dev/">Eleventy</a>
      </p>
      <p>
        <a href="https://github.com/dcgoodwin2112/dcg-dev-portfolio">View on GitHub</a>
      </p>
    </footer>
  </body>
</html>
