{% extends "layouts/base.njk" %}

{% block main %}
  <div class="wrapper">
    <article>
      <h1>{{ title }}</h1>
      <div class="series">
          Part <strong>{{ order }}</strong> of
          <strong>{{ collections["coding-career-reset"] | length }}</strong>
          in the series: <strong>A Coding Career Reset</strong>
      </div>
      <div class="post-date">
        Date: <time datetime="{{ postDate }}">{% formatDate postDate %}</time>
      </div>
      {% include "partials/tldr.njk" %}
      {{ content | safe }}
    </article>
  </div>
{% endblock %}
